---
import Layout from '../layouts/Layout.astro';
import Details from '../sections/Time.astro';
import Hero from '../sections/Hero.astro';
import Ingredients from '../sections/Ingredients.astro';
import Instructions from '../sections/Instructions.astro';
import Nutrition from '../sections/Nutrition.astro';
---

<Layout>
	<main class="max-w-[46rem] mx-auto my-30 px-10 py-10 bg-white shadow-lg rounded-3xl">
		<Hero />
		<Details />
		<Ingredients />
		<Instructions />
		<Nutrition />
	</main>
</Layout>
