---

---

<section class="py-8">
  <h2 class="text-theme-brown-800 text-special text-2xl">Ingredients</h2>
  <ul class="list-disc font-normal py-6">
    <li>2-3 large eggs</li>
    <li>Salt, to taste</li>
    <li>Pepper, to taste</li>
    <li>1 tablespoon of butter or oil</li>
    <li>Optional fillings: cheese, diced vegetables, cooked meats, herbs</li>
  </ul>
  <hr class="text-theme-stone-100" />
</section>

<style>
  li {
    line-height: 2rem;
    list-style: disc outside;
    margin-left: 1.25rem;
    padding-left: 0.75rem;
  }

  li::marker {
    font-size: 0.8rem;
    color: var(--color-theme-brown-800);
  }
</style>
