---

---

<section>
    <h2 class="text-theme-brown-800 text-special text-2xl ">Nutrition</h2>
    <p class="mt-4">The table below shows nutritional values per serving without the additional fillings.</p>

    <table class="w-full mt-4">
        <tr>
            <th>Calories</th>
            <td>277kcal</td>
        </tr>
        <tr>
            <th>Carbs</th>
            <td>0g</td>
        </tr>
        <tr>
            <th>Protein</th>
            <td>20g</td>
        </tr>
        <tr class="no-line">
            <th class="last">Fat</th>
            <td class="last">22g</td>
        </tr>
    </table>
    
</section>


<style>
    tr {
        border-bottom: 1px solid var(--color-theme-stone-150);
        
    }
    
    th, td {
        padding: 0.5rem 0;
        width: 50%;
    }
    
    th {
        padding-left: 2rem;
        font-weight: 600;
        text-align: left;
    }
    
    td {
        color: var(--color-theme-brown-800);
        font-weight: 700;
        text-align: left;
    }

    .no-line {
        border-bottom: none;
    }
    
    .last {
        padding-bottom: 0rem;
    }
</style>