---

---

<section class="py-8 px-8 bg-theme-rose-50 rounded-xl">
    <h2 class="text-theme-rose-800 font-bold text-xl">Preparation time</h2>
    <ul>
        <li><span>Total:</span> Approximately 10 minutes</li>
        <li><span>Preparation:</span> 5 minutes</li>
        <li><span>Cooking:</span> 5 minutes</li>
    </ul>
</section>

<style>
    li {
        line-height: 2rem;
        list-style: disc outside;
        margin-left: 1.25rem;
        padding-left:1.25rem
    }

    span {
        font-weight: bold;
    }
    li::marker {
        font-size: 0.8rem;
        color: var(--color-theme-rose-800);
    }

</style>